body {
  background-color: cadetblue;
}

.word-choice-box {
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  background-color: none;
  width: 90vw;
  height: 3em !important;
  overflow-x: scroll;
}

.word-choice-box > div {
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 0.33em 0.77em 0.33em 0.77em;
  /* padding-inline: 0.77em; */
  margin: 2px;
}

textarea {
  font-size: 14px;
  min-height: 7em;
  line-height: 1.5;
}

.selected-choice {
  background-color: pink !important;
}
